.post-container{
    margin: 9rem;
}

.blog-post{
    margin: 5rem;
    margin-left: 6rem;
    padding: 1rem;
    max-width: 80%;
    background:whitesmoke;
    border: gray;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}
.blog-post a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blog-post h3 {
    text-decoration: underline;
}
.blog-post h4 {
    font-style: italic;
    font-weight: 400;
}